<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout>
				<pattern>%d %p %C{1.} [%t] %m%n</pattern>
			</PatternLayout>
		</Console>
        <RollingFile 
                name="RollingFile" 
                fileName="log/ume-cloud-config.log" 
                filePattern="log/$${date:yyyy-MM}/ume-cloud-config-%d{MMdd}-%i.log">
            <PatternLayout pattern="[%d{MMdd HH:mm:ss.SSS}][%5p]%m%n"/>
            <SizeBasedTriggeringPolicy size="20MB"/>
        </RollingFile>

	</Appenders>
	<Loggers>
		<Logger name="org.apache.catalina.util.LifecycleBase" level="error" />
		<Logger name="org.apache.coyote.http11.Http11NioProtocol" level="warn" />
		<Logger name="org.apache.tomcat.util.net.NioSelectorPool" level="warn" />
		<Logger name="org.hibernate.validator.internal.util.Version" level="warn" />
		<Logger name="org.springframework" level="info" />
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>